<p id="notice"><%= notice %></p>

<p>
  <strong>Psn:</strong>
  <%= @patient.psn %>
</p>

<p>
  <strong>Race:</strong>
  <%= @patient.race %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @patient.gender %>
</p>

<p>
  <strong>Step:</strong>
  <%= @patient.step %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
